body { color: #ababab;
    font-family: Roboto,Arial,sans-serif;
margin-left: 120px;
margin-right: 120px;

}


/* partie header  */



.header img{ width: 279px; ;}


.header {display: flex;
    position: sticky;
    top:0px;
    background-color: white;}


.navbar {display: flex;
    }

.navbar li{ list-style: none;
padding: 10px;}
.navbar a {text-decoration:none ;
    color:#747474;}

    #aboutus{
        color: #00b39b;
    }


/* partie header terminé  */
/* partie section 1  */
.section1{text-align: center;}


/* partie section 2  */
.section2{ display: flex;
    justify-content: space-around;}

.section2 p{width: 600px;
    margin: 60px;}



/* partie section 3  */
.section3{display: flex;
    justify-content: space-between;}


.carte1{ background-color: #00b39b;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    color: white;
    padding: 11px;
    font-size: 15px;}



    .carte2{ background-color:#3d83df;
        width: 300px;
        height: 300px;
        border-radius: 7px;
        color: white;
        padding: 11px;
        font-size: 15px;}



        .carte3{ background-color:#1b2734;
            width: 300px;
            height: 300px;
            border-radius: 7px;
            color: white;
            padding: 11px;
            font-size: 15px;}


.section4{display: flex;}
.ss{display: flex;
color: #1b2734;}
.ss li{text-decoration: none;}


.section5{background-color: rgb(52, 247, 182);}

.section5 h1 {text-align: center;
    color: #00b39b;
    font-size: 2.125rem;}
.section5 p{text-align: center;}



.forme1{background-color: white;
}
.forme2{background-color: white;}
.forme3{background-color: white;}
.forme4{background-color: white;}



.offices__header {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
}

.offices__header h1 {color: #00b39b;}




.office__desc{font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;}
    .btn {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        outline: 0;
        border: 0;
        border-radius: 4px;
        padding: 1.1666666667em 1.5em;
        background: #3d83df;
        font-family: Roboto,Arial,sans-serif;
        line-height: 1em;
        color: #fff;
        font-weight: 700;
        letter-spacing: .04em;
        font-size: .75rem;
        text-align: center;
        text-decoration: none!important;
        text-transform: uppercase;
        transition: all .2s ease 0s;}
